{% extends "admin/base_admin.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Inserir Funcionário</h1>
    <form method="post" action="{% url 'inserir_funcionario' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="nome_funcionario">Nome:</label>
            <input type="text" class="form-control" id="nome_funcionario" name="nome_funcionario" required>
        </div>

        <div class="form-group">
            <label for="morada_funcionario">Morada:</label>
            <input type="text" class="form-control" id="morada_funcionario" name="morada_funcionario" required>
        </div>

        <div class="form-group">
            <label for="telemovel_funcionario">Telemóvel:</label>
            <input type="number" class="form-control" id="telemovel_funcionario" name="telemovel_funcionario" required>
        </div>

        <div class="form-group">
            <label for="idade">Idade:</label>
            <input type="number" class="form-control" id="idade" name="idade" required>
        </div>

        <div class="form-group">
            <label for="tipo_mao_de_obra_id">Tipo Mão de Obra:</label>
            <select class="form-control" id="tipo_mao_de_obra_id" name="tipo_mao_de_obra_id" required>
                {% for tipo_mao_de_obra in tipos_mao_de_obra %}
                    <option value="{{ tipo_mao_de_obra.0 }}">{{ tipo_mao_de_obra.1 }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Inserir Funcionário</button>
    </form>
</div>
{% endblock %}
