{% extends "admin/base_admin.html" %}
{% load static %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Morada</th>
      <th>NIF</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    {% for fornecedor in fornecedores %}
      <tr>
        <td>{{ fornecedor.1 }}</td>  {# Nome #}
        <td>{{ fornecedor.2 }}</td>  {# Morada #}
        <td>{{ fornecedor.3 }}</td>  {# NIF #}
        <td>{{ fornecedor.5 }}</td>  {# Telefone #}
        <td>{{ fornecedor.4}}</td>  {# Email #}
        <td>
          {% if fornecedor.0 %}
            <a href="{% url 'editar_fornecedor' fornecedor.0 %}" class="btn btn-primary">Editar</a>
            <form id="removerForm{{ fornecedor.0 }}" method="post" action="{% url 'apagar_fornecedor' fornecedor.0 %}">
              {% csrf_token %}
              <button type="button" class="btn btn-danger" onclick="confirmRemoval('{{ fornecedor.0 }}')">
                Apagar
              </button>
            </form>
          {% else %}
            <p>ID indisponível</p>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  function confirmRemoval(id) {
    var confirmation = confirm("Tem certeza que deseja remover?");
    if (confirmation) {
      document.getElementById('removerForm' + id).submit();
    }
  }
</script>

{% endblock %}
