{% extends "admin/base_admin.html" %}
{% load static %}

{% block content %}
<table class="table">
  <thead>
      <tr>
        <th>Nome</th>
        <th>Morada</th>
        <th>Email</th>
        <th>NIF</th>
        <th>Telefone</th>
        <th>Estado</th>
        <th>Opções</th>
      </tr>
  </thead>
  <tbody>
    {% for user in utilizadores %}
    <tr>
      <td>{{ user.2 }}</td>  {# nome #}
      <td>{{ user.1 }}</td>  {# morada #}
      <td>{{ user.3 }}</td>  {# email #}
      <td>{{ user.5 }}</td>  {# NIF #}
      <td>{{ user.4 }}</td>  {# telemovel #}
      <td>
        {% if user.8 %}
            <span style="display: inline-block; width: 20px; height: 20px; background-color: green; border-radius: 50%;"></span>
        {% else %}
            <span style="display: inline-block; width: 20px; height: 20px; background-color: red; border-radius: 50%;"></span>
        {% endif %}
    </td>
    
      <td>
        {% if user.0 %}
          <a href="{% url 'editar_utilizador' user.0 %}" class="btn btn-primary">Editar</a>
           
          <form method="post" action="{% url 'trocar_estado_utilizador' user.0 %}">
            {% csrf_token %}
            <button type="submit" class="{% if not user.8 %}btn btn-success{% else %}btn btn-danger{% endif %}">
                {% if not user.8 %}Ativar{% else %}Desativar{% endif %}
            </button>
          </form>
          
        {% else %}
          <p>ID indisponível</p>
        {% endif %}
      </td>
    </tr>
  {% endfor %}

        
        </tbody>
</table>

{% endblock %}