{% extends 'cliente/base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}Main Menu{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    {% for product in equipamentos %}
    
      <div class="col-md-4">
        <div class="card">
          {% if product.9 %}
          <img src="{% static 'images/' %}{{product.9}}" class="card-img-top card-image" alt="No Image">
          {% endif %}
          {% if not product.9 %}
            <img src="{% static 'images/No_Image_Available.jpg' %}" class="card-img-top card-image" alt="No Image Available">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ product.8 }}</h5>
            <p>Type: {{ product.7|get_tipo_equipamento_name }}</p>
            <p>Price: {{ product.1 }}</p>
            <p>Stock: {{ product.3 }}</p>
            <p>Description: {{ product.4 }}</p>
            <a href="{% url 'adicionar_ao_carrinho' product.0 %}" class="btn btn-primary add-to-cart">Add to Cart</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% if message %}
  <div class="alert alert-success" role="alert" id="success-alert">
    {{ message }}
  </div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  // Close the alert after a few seconds
  setTimeout(function() {
    $('#success-alert').fadeOut('slow');
  }, 3000);
</script>
{% endblock %}
