{% extends "admin/base_admin.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-3">Criar Utilizador</h1>
        <form method="POST" action="{% url 'criar_utilizador' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="form-group">
            <label for="morada_utilizador">Morada</label>
            <input type="text" class="form-control" id="morada_utilizador" name="morada_utilizador">
        </div>
          <div class="form-group">
            <label for="NIF">NIF</label>
            <input type="text" class="form-control" id="NIF" name="NIF" required>
          </div>
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="telefone" name="telefone" required>
          </div>
          <div class="form-group">
            <label for="tipo_utilizador_id">Tipo Utilizador</label>
            <select class="form-control" id="tipo_utilizador_id" name="tipo_utilizador_id" required>
                {% for tipo_utilizador in tipo_utilizadores %}
                    <option value="{{ tipo_utilizador.0 }}">{{ tipo_utilizador.1 }}</option>
                {% endfor %}
            </select>
        </div>

          <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}