{% extends "admin/base_admin.html" %}
{% load static %}

{% block content %}
  <h2>Editar Produção</h2>
  <form method="post" action="{% url 'editar_producao' producao.0 %}">
    {% csrf_token %}

    <div class="form-group">
      <label for="horas_producao">Horas de Produção:</label>
      <input type="number" name="horas_producao" value="{{ producao.1 }}" required>
    </div>

    <div class="form-group">
      <label for="custos">Custos:</label>
      <input type="number" name="custos" value="{{ producao.2 }}" required>
    </div>

    <div class="form-group">
      <label for="equipamento_id">Equipamento:</label>
      <select class="form-control" id="equipamento_id" name="equipamento_id" required>
        {% for equipamento in equipamentos %}
          <option value="{{ equipamento.0 }}" {% if equipamento.0 == producao.3 %}selected{% endif %}>{{ equipamento.8 }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="tipo_mao_de_obra_id">Tipo Mão de Obra:</label>
      <select class="form-control" id="tipo_mao_de_obra_id" name="tipo_mao_de_obra_id" required>
        {% for tipo_mao_de_obra in tipos_mao_de_obra %}
          <option value="{{ tipo_mao_de_obra.0 }}" {% if tipo_mao_de_obra.0 == producao.4 %}selected{% endif %}>{{ tipo_mao_de_obra.1 }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit">Salvar Alterações</button>
  </form>
{% endblock %}
